* {
  box-sizing: border-box;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  font-family: montserrat;
  animation-fill-mode: forwards;
}
body{
	margin: 0;
}
h1{
		display: flex;
		justify-content: center;
		font-family: 'Kaushan Script', cursive;
	}
	.welcome{
		font-weight: bold;
		color: #5BA0AD;
		opacity: 0;
		animation: slideIn 1s ease-in-out forwards;
	}
	@keyframes slideIn {
	  0% {
	    opacity: 0;
	    transform: translateX(-100%);
	  }
	  100% {
	    opacity: 1;
	    transform: translateX(0);
	  }
	}
	#myBtn {
	  display: none;
	  position: fixed;
	  bottom: 20px;
	  right: 5px;
	  z-index: 99;
	  font-size: 30px;
	  border: none;
	  outline: none;
	  background-color: #FFD250 ;
	  color: white;
	  cursor: pointer;
	  padding: 15px;
	  border-radius: 4px;
	}
	#myBtn:hover {
  	background-color: #555;
	}
	nav{
		background-color: #6DBDCC;
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
	}
	nav ul{
		width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
	nav li{
		height: 50px;
	}
	nav a{
		height: 100%;
		padding: 0 30px;
		text-decoration: none;
		display: flex;
		align-items: center;
		color: black;
	}
	nav a:hover{
		background-color: #f0f0f0;
	}
	nav li:first-child{
		margin-right: auto;
	}
	.sidebar{
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 250px;
		z-index: 999;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(10px);
		box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
		display: none;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.sidebar li{
		width: 100%;
	}
	.sidebar a{
		width: 100%;
	}
	.center{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:5%;
	}
	.center1{
		display: flex;
		margin-left: auto;
		margin-right: auto;
		margin-top:5%;
	}
	.artCenter{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:2%;
		width:40%;
	}
	.icon{
		display:flex;
		justify-content:left;
		
	}
	.links{
		display:flex;
		justify-content: right;
		width:50%;
	}
	.button {
	  font-family: montserrat;
	  font-size: 10px;
	  display: inline-block;
	  padding: 10px 25px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #474747;
	  background-color: white;
	  border: 1px solid #474747;
	  border-radius: 30px;
	  margin:4px;
	}
	.games{/*
		position: relative;
		left: 40%;*/
	}
	.art{
		position: relative;
		
	}
	img{
		width:300px;
		height:auto;
	}
	.flex-container{
		display: flex;
		justify-content: center;
	}

/*
	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
*/
	.container{
		
	}
	

	.button1 {
	  font-family: montserrat;
	  font-size: 20px;
	  display: inline-block;
	  padding: 10px 25px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #474747;
	  background-color: white;
	  border: 1px solid #474747;
	  border-radius: 30px;
	  margin:4px;
	}


	.button:hover {border: 1px solid orange;}

	.button:active {
	  transform: translateY(4px);
	}

	.title{
		display:flex;
		justify-content: center;
		color: #474747;
		margin-top:5%;
		
	}

	.mini-title{
		display:flex;
		justify-content: center;
		color: #474747;
		font-size: 14px;
	}

	.p0{
		font-size: 30px;
		display: flex;
		justify-content: center;
	}



	.p2{
		font-size: 18px;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.p3{
		font-size: 16px;
		display: flex;
		justify-content: left;
		text-align: left;
	}
	.p4{
		font-size: 16px;
	}

	.pl{
		font-size: 22px;
		display: flex;
		justify-content: left;
		text-align: left;
	}

	.p5{
		font-size: 20px;
	}

	.p6{
		font-size: 10px;
	}
	a{
		text-decoration: none;
		text-decoration-line: none;
		text-decoration-style: initial;
		text-decoration-color: initial;
		display: flex;
		justify-content: center;
		text-align: center;
		color: white;
		font-weight: bold;
		
	}
	
	p{
		text-align: center;
		margin-left: 30%;
		margin-right: 30%;
	}
	.welcome{
		font-size: 20px;
	}
	.menu-button{
		display: none;
	}
@media(max-width: 800px) {
	/* For mobile phones: */
	.hideOnMobile{
		display: none;
	}
	.menu-button{
		display: block;
	}
	.flex-container-nav {
    visibility: visible; /* Change from hidden to visible */
  }
	.nav{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 300px;
		
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:5%;
		width: 60%;
		height: auto;
	}
	
	.artCenter{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top:5%;
		width: 60%;
		height: auto;
		
	}
	
	#navButton{
		display: flex;
		background-color: white;
		
		height: 50px;
		justify-content: center;
		align-items: center;
		border-style: none;
	}
	.button{
		border: none;
		background: transparent;
		color: lightgrey;
		font-size: 17px;
	}
	
	.desktop-logo{
		display:none;
		width:0%;
		
	}
	.main {
	  transition: transform 0.2s;
	}
	
	.container{
		  display: inline-block;
		  cursor: pointer;
	}

	.button1 {
	  font-family: montserrat;
	  font-size: 20px;
	  display: inline-block;
	  padding: 10px 25px;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  outline: none;
	  color: #474747;
	  background-color: white;
	  border: 1px solid #474747;
	  border-radius: 30px;
	  margin:4px;
	}
	.welcome{
		font-size: 15px;
	}
}
@media(max-width: 400px){
	.sidebar{
		width: 100%;
	}
}